

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>



    
    <header>

        <div class="header-wrapper" style="margin-top: 4em;">
            <img style="width: 100%;" src="/images/rub.png"/>
        </div> <!-- /.header-wrapper -->
    </header> <!-- /.page-head (header end) -->


    <section class="main-content">
        <div class="container">
            <section class="event-section">
                
            <h1 style="text-align:center"><span style="color:#000000"><strong>Participation Rules</strong></span></h1>

<ul>
    <li> participents  are not allowed to carry any kind of electronics appliences and devices such as smart phone, calculator ,modem, pendrive etc.</li>
<li> Bringing your own cube will be preferable.</li>
<li>  During the time of contest  participents can  talk or communicate only with the volunteers .</li>
<li> Any kind of plagarism or offensive act will not be considerable during the time of contest.</li>
<li>  Feel free to ask any kind of query or clarification to the Judge pannel and volunteers which are related to the contest.</li>
<li> Any kind of Slang ,uncivilized words are prohibited.</li>

</ul>

<h1 style="text-align:center"><span style="color:#000000"><strong>Criteria and Notable point</strong></span></h1>

<ul>
	<li>All the registered  member must need to participate in Qualification Contest ,other wise their registration will be canceled .the demonstration of the judge pannel remain as the last decision.</li>
	<li>The program committee reserves all the rights to accept or reject any additional teams after fulfilling the above-mentioned criterion.</li>
	<!-- <li>The contest hosting university may be allowed to additional teams, which will be decided by the&nbsp;program committee.</li> -->
	<!-- <li>The program committee reserves all the rights to accept or reject any additional teams after fulfilling the above-mentioned criterion.</li> -->
</ul>

<h1 style="text-align:center"><span style="color:#000000"><strong>Registration Fees</strong></span></h1>

<p style="text-align:center">Registration Fee is&nbsp;<strong>1000.00 BDT</strong>for each participents</p>

<p style="text-align:center">&nbsp;</p>





            </section>

            

            
            <section class="quick-registration-link" align="center">
            <a th:href="@{/register/rubiksCubeCompetition}" class="btn btn-black">Register Now</a>
            </section>


        </div>
    </section>

  
  
  

<div th:replace="common/header :: body-bottom-footer"/>
<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>